body {
  height: 100vh;
  font-family: lobster, cursive;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
  background-image: linear-gradient(to right bottom, crimson, black);
  background-size: contain;
  background-repeat: no-repeat;
}
h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
  color: antiquewhite;
  text-shadow: 5px 5px 8px black;
}

.board {
  display: flex;
  justify-content: space-between;
}

.swimlane {
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 22rem;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 20px;
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 15rem;
  height: 3rem;
  border: 1px solid lightgray;
  background-color: lightcyan;
  cursor: pointer;
}

.add-task-section {
  margin-top: 10px;
}

.add-task-section input {
  padding: 5px;
  margin-right: 5px;
  /* font-size: 14px; */
  font-family: lobster, cursive;
}

.add-task-section button {
  padding: 5px 10px;
  color: whitesmoke;
  font-family: lobster, cursive;
  font-size: 16px;
  border-radius: 8px;
  background-image: linear-gradient(to right bottom, crimson, black);
}
.add-task-section button:hover {
  background-image: linear-gradient(to right bottom, green, yellow);
  
}